.DS_Store

Makefile.global
Makefile.in

/autom4te.cache
/acinclude.m4
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.in
/depcomp
/install-sh
/ltmain.sh
/missing
/mkinstalldirs

/build
/run-tests.php
